snippet div
<div class="$1">
	$0
</div>
endsnippet

snippet panel
<div class="panel ${1:panel-transparent}">
	<div class="panel-heading">
		<div class="panel-title">${2:header}</div>
	</div>
	<div class="panel-body">
		$0
	</div>
</div>
endsnippet

snippet col
<div class="col-${2:md}-${1:6}">
	$0
</div>
<div class="col-$2-`!p snip.rv=12 - int(t[1])`">

</div>
endsnippet
