snippet a
<a href="$1"${2: class="${3:link}"}>
    $0
</a>
endsnippet

snippet div
<div class="$1">
	$0
</div>
endsnippet

snippet panel
<div class="panel ${1:panel-transparent}">
	<div class="panel-header">
		<div class="panel-title">${2:header}</div>
	</div>
	<div class="panel-body">
		$0
	</div>
</div>
